name: build
on:
  push:
    branches-ignore:
      - '**skip**'
    tags-ignore:
      - '**'
    paths:
      - '.github/workflows/build.yaml'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'man/**'
      - 'NAMESPACE'
      - 'R/**'
      - 'tests/**'
      - 'vignettes/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build.yaml'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'man/**'
      - 'NAMESPACE'
      - 'R/**'
      - 'tests/**'
      - 'vignettes/**'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04
    name: build
    env:
      NOT_CRAN: TRUE
      _R_CHECK_CRAN_INCOMING_: TRUE
      _R_CHECK_CRAN_INCOMING_REMOTE_: FALSE
    steps:
      - uses: actions/checkout@v2
      - name: Setup r2u
        run: sudo bash scripts/ci/setup-r2u.sh
      - name: Install dependencies
        run: sudo bash scripts/ci/install-dependencies.sh
      - name: Session information
        run: sessionInfo()
        shell: Rscript {0}
      - name: Build
        run: R CMD build --no-manual .
      - name: Check
        run: R CMD check --no-manual --no-tests --as-cran workflowr_*.tar.gz
      - name: Install
        run: R CMD INSTALL --no-docs --no-multiarch --no-staged-install workflowr_*.tar.gz
        shell: sudo bash {0}
      - name: Test essential functionality
        run: |
          library("workflowr")
          wflow_start("/tmp/build", user.name = "test", user.email = "test")
          rmd <- "analysis/build.Rmd"
          wflow_open(rmd)
          lines <- c(
            "",
            "```{r chunkname}",
            "plot(1:10)",
            "```"
          )
          cat(lines, file = rmd, sep = "\n", append = TRUE)
          wflow_build("analysis/*Rmd", view = FALSE)
          wflow_status()
          wflow_publish("analysis/build.Rmd", view = FALSE)
          wflow_status()
          wflow_use_github("test", create_on_github = FALSE)
          wflow_use_gitlab("test")
          wflow_remove("analysis/build.Rmd")
          wflow_status()
        shell: Rscript {0}
